.insert{
  margin: auto; 
  width: 30%;
}

.view{
  margin-left:20px;
  margin-right: 20px;
}


.login{
  margin: auto; 
  width: 30%;
}

.signup{
  margin: auto; 
  width: 30%;
}

.nav{
  margin: auto;
  width:90%;
}

.home{
  margin:auto;
  width: 30%;
}


